# Pi Browser / Pi Testnet
NEXT_PUBLIC_PI_APP_ID=xmWxQrX7-l8gfAf0GXB0lOQrOhR3VOMrMsdKkS-y7KA
NEXT_PUBLIC_PI_SANDBOX=true

# Pi API verification endpoints
PI_AUTH_VERIFY_URL=https://api.minepi.com/v2/me
PI_PAYMENT_VERIFY_URL_TEMPLATE=https://api.minepi.com/v2/payments/{paymentId}
PI_PAYMENT_VERIFY_METHOD=GET

# Vercel Postgres / backend storage
POSTGRES_URL=postgres://user:password@host:5432/db
POSTGRES_URL_NON_POOLING=postgres://user:password@host:5432/db
POSTGRES_HOST=host
POSTGRES_PORT=5432
POSTGRES_DATABASE=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password