# Pi Browser / Pi Testnet
NEXT_PUBLIC_PI_APP_ID=xmWxQrX7-l8gfAf0GXB0lOQrOhR3VOMrMsdKkS-y7KA
NEXT_PUBLIC_PI_SANDBOX=true

# PiLuck Treasury - 10% of each entry is sent to this wallet automatically
NEXT_PUBLIC_PI_TREASURY_WALLET_ADDRESS=GBTZK5GUPSURYQNUA54DHY2J77SCZGSXRZAPRR7I2FCIDWL52BPR7JLK
NEXT_PUBLIC_PI_TREASURY_PERCENT=0.1

# Pi API verification endpoints
PI_AUTH_VERIFY_URL=https://api.minepi.com/v2/me
PI_PAYMENT_VERIFY_URL_TEMPLATE=https://api.minepi.com/v2/payments/{paymentId}
PI_PAYMENT_VERIFY_METHOD=GET
PI_SERVER_API_KEY=your_pi_server_api_key_from_pi_developer_portal
PI_TREASURY_WALLET_ADDRESS=GBTZK5GUPSURYQNUA54DHY2J77SCZGSXRZAPRR7I2FCIDWL52BPR7JLK

# Vercel Postgres / backend storage
POSTGRES_URL=postgres://user:password@host:5432/db
POSTGRES_URL_NON_POOLING=postgres://user:password@host:5432/db
POSTGRES_HOST=host
POSTGRES_PORT=5432
POSTGRES_DATABASE=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password