NEXT_PUBLIC_PI_APP_ID=your_pi_developer_portal_app_id
NEXT_PUBLIC_PI_SANDBOX=true
PI_AUTH_VERIFY_URL=https://api.minepi.com/v2/me
PI_PAYMENT_VERIFY_URL_TEMPLATE=https://api.minepi.com/v2/payments/{paymentId}
PI_PAYMENT_VERIFY_METHOD=GET